{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Homepage {% endblock %}

{% block body %}
<div class="container"> <!-- need bootstrap :) -->
    <h1>Hello !</h1>
</div>
{% endblock %}
