$primary: #2ecc71;
$secondary: #44db5e;

$text: #218d4e;
$background: #ecf0f1;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "text":       $text,
  "background": $background
);
  
@import "~bootstrap/scss/bootstrap";